.App {
  text-align: center;
  background-color: #f3f2ef;
}

footer ul li {
  list-style: none;
  text-align: start;
  font-size: 12px;
  color: #00000099;
  font-weight: bold;
  line-height: 2;
}

.big-font {
  font-size: 14px;
}
#dropdown-button-drop-up {
  color: #00000099;
  background-color: #f2f3ef;
  padding: 0px 32px 0px 8px;
  font-size: 14px;
  border-color: #00000099;
}
