:root {
  --main-blue: #0a66c2;
}

.modalEditInfo .modal-dialog {
  margin: 2.5rem auto !important;
  max-width: 40% !important;
  min-width: 40rem !important;
  max-height: 90vh !important;
  width: auto;
  transition: 0.2s !important;
}
.modal-dialog {
  border: unset !important;
  overflow: hidden;
  box-shadow: 0 0 5px black !important;
  border-radius: 10px !important;
}
.modal-header,
.modal-footer {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.modalEditInfo .modal-content {
  position: relative !important;
  border: unset !important;
  overflow-y: scroll !important;
  height: auto;
  max-height: 92vh !important;
  transition: 0.2s !important;
  overflow: hidden;
}
.form-control:hover {
  box-shadow: unset !important;
  border: 2px solid gray !important;
}
.form-control:focus {
  box-shadow: unset !important;
  border: 2px solid gray !important;
}
.form-control {
  color: black;
  border: 1px solid black !important;
}
form label {
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
  margin: 0 0.1rem;
}
.addFormerBtn {
  color: var(--main-blue);
  cursor: pointer;
}

.checkbox-edit input {
  transform: scale(1.6);
}
.contact-info-change {
  border: unset !important;
  border-radius: 0 !important;
  border-bottom: 1px solid black !important;
  height: 2.5rem !important;
}
.edit-pencil-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  float: right;
  cursor: pointer;
  color: var(--main-blue);
  height: 2rem !important;
  aspect-ratio: 1/1;
  font-size: 1rem !important;
  transition: 0.3s;
}

.edit-pencil-contact:hover {
  border-radius: 50%;
  background-color: #e3f0fe;
}
.edit-info-pencil {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: 0.3s;
}
.edit-info-pencil:hover {
  background-color: #e3f0fe;
}

.modal-body {
  overflow: auto;
  height: auto;
  max-height: 75vh;
}
@media screen and (max-width: 650px) {
  .modalEditInfo .modal-dialog {
    min-width: unset !important;
    max-width: unset !important;
    width: 90%;
  }
}
