* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #f3f2ef;
  position: relative;
}

footer ul li {
  list-style: none;
  text-align: start;
  font-size: 12px;
  color: #00000099;
  font-weight: bold;
  line-height: 2;
}
.aside-card {
  padding: 12px;
  width: 300px;
}
.big-font {
  font-size: 14px;
}
#dropdown-button-drop-up {
  color: #00000099;
  background-color: #f2f3ef;
  padding: 0px 32px 0px 8px;
  font-size: 14px;
  border-color: #00000099;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
}
.badge small {
  font-size: 13px;
}

.title small {
  font-size: 12px;
  color: #0000008c;
}

.imgs img {
  width: 60px;
  margin-bottom: 5px;
}
.body-text {
  font-size: 15px;
}
.card-imgs img {
  width: 40px;
}
.card-person .card-title {
  font-size: 14px;
  color: #000000e6;
  font-weight: bold;
  text-align: start;
}
.card-person .card-subtitle {
  font-size: 12px;
  color: #00000099;
}

#learning .card-imgs img {
  width: 56px;
}

#viewed,
#may-know {
  width: 300px;
}
#viewed,
#may-know,
#learning {
  margin: 24px 0px 0px;
  padding: 24px 16px 12px;
}

ul.people {
  margin: 0;
  padding: 0;
}

#viewed,
#may-know,
button {
  border-radius: 20px;
  margin: 0px 0px 0px 16px;
  padding: 6px 16px;
}
#viewed,
#may-know,
div.text-left button {
  left: 0;
  margin-left: 0px;
  border-radius: 20px;
  padding: 6px 16px;
}

.icon1 {
  margin-left: 90px;
}
.icon2 {
  margin-left: 42px;
}
/* NAVBAR EMANUELE CSS */

#linkedIn-navbar {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.Left-ico-search {
  display: flex;
  align-items: baseline;
  padding-right: 3px;
  margin-top: 5px;
  margin-right: 35px;
}

#nav23 {
  padding: 0px;
}

div.col-1 {
  font-size: 13px;
  color: rgb(122, 119, 119);
}

.NavIco.row {
  font-size: 28px;
  color: rgb(112, 112, 112);
  justify-content: center;
}
#NavIcon {
  font-size: 20px;
  color: rgb(112, 112, 112);
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 8px;
  border-right: none;
  background-color: rgb(232, 245, 253);
}
.navName.row {
  justify-content: center;
}

.navName.row:hover {
  justify-content: center;
  border-bottom: solid rgb(48, 18, 218) 2px;
}

a.nav-link {
  padding: 0%;
  color: rgb(112, 112, 112);
}

a.nav-link:hover {
  padding: 0%;
  color: rgb(48, 18, 218);
}

#navnMe {
  padding-left: 28px;
}

#searchBar {
  border: none !important;
  background-color: rgb(232, 245, 253);
  border-radius: 5px;
}

#miniat {
  height: 30px;
}

#meForm {
  width: 300px;
  color: rgb(75, 75, 52);
  font-size: 14px;
  margin-bottom: 10px;
}
#dropMe {
  font-size: 14px;
  padding: 3px;
  color: rgb(131, 127, 127);
  padding-left: 25px;
}
#button-myPage {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  width: 100%;
  display: flex;
  padding: 2px;
  border-radius: 15px;
  justify-content: center;
}

.multy-Icons {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: rgb(101, 101, 102);
}

#spaceMe {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding-left: 7px;
}

#dropMe2 {
  font-size: 14px;
  padding: 3px;
  color: rgb(131, 127, 127);
}
.aside-row {
  margin-top: 70px;
}

.user-img img {
  width: 50px;
}

.feed .user-info h4 {
  font-size: 14px;
  color: #000000e6;
}
.feed .user-info p {
  font-size: 12px;
  color: #00000099;
}
.footer-icons {
  margin-left: -30px;
}
.footer-icons div {
  padding: 10px 8px;
}

.footer-icons div:hover {
  background-color: #f2f3ef;
}

.footer-icons div span {
  font-size: 14px;
}

.profile-img img {
  width: 60px;
}

.wrapper {
  max-width: 100%;
}

#post-card .card-body {
  margin-left: -10px;
}

.post-btn #modal-btn {
  width: calc(100% - 10px);
  text-align: start;
  background-color: #fff;
  border: 1px solid #0000008c;
  color: #00000099;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 8px 10px 16px;
  margin: 4px 0px;
  font-size: 14px;
}

.post-btn #modal-btn:hover {
  background-color: #f2f3ef;
}
.icons-wrapper {
  max-width: 100%;
  justify-content: space-around;
  padding: 10px 0px 4px;
}
.icons-wrapper div {
  padding: 0px 8px;
}
.icons-wrapper div:hover {
  background-color: #f2f3ef;
}
#privacy-btn {
  text-align: start;
  background-color: #fff;
  border: 1px solid #0000008c;
  color: #00000099;
  font-weight: bold;
  border-radius: 20px;

  margin: 0px 0px 4px;
  font-size: 14px;
}

#input {
  width: 100%;

  border: none;
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}
#input:focus {
  border: none;
}
#post-input::placeholder {
  margin-bottom: 100px;
}
.hashtag {
  border: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
div.icons-footer svg {
  margin-right: 15px;
}

#modal-footer {
  margin-left: 12px;
  padding: 0;
  justify-content: flex-start;
}

#three-dots,
#update-btn {
  border: none;
  background: #fff;
  border-radius: 50%;
  margin: 0;
  font-size: 20px;
  padding: 5px 7px;
  color: #00000099;
}
#three-dots {
  color: red;
}
#three-dots:hover,
#update-btn:hover {
  background-color: rgb(219, 215, 215);
}

button#three-dots::after {
  content: "";
}
